@charset "utf-8";

#h2{
	font-size:30px;
	font-weight:bold;
	margin-bottom:50px;
}

#noti_wrap{
	width:1000px;
	height:1000px;
	background:#fff;
	padding-top:50px;
}

#main_board {
  margin:0 auto;
  border-collapse: collapse;
  border: 0;
  border-top: 2px solid black;
}

#main_board th {
  height: 30px;
  font-size:18px;
  line-height:30px;
  border-bottom: 1px solid #e4e4e4;
}

#main_board td {
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}

#main_board th:nth-child(1) {
  width: 51px;
}

#main_board th:nth-child(2) {
  width: 434px;
}

#main_board th:nth-child(3) {
  width: 110px;
}

#main_board th:nth-child(4) {
  width: 88px;
}

#main_board th:nth-child(5) {
  width: 88px;
}

#main_board td {
  height: 37px;
}

#main_board td:nth-child(2) {
  text-align: left;
  text-indent: 10px;
}

#bottom_wrap{
	margin:0 auto;
	margin-top:20px;
	width:771px;
	background:#e9e9e9;
	padding:5px 0;
}

#search,#paging {
  margin:20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dataPerPage{
	width:150px;
}

.pagingNum{
	width:335px;
}

.pagingNum a{
	font-size:15px;
	margin-left:20px;
}

#search{
	margin-top:20px;
}

#search select, #search input[type="text"], #search input[type="submit"], 
#paging select{
  height: 40px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
}

#search select {
  margin-right: 10px;
  outline: none;
}

#search input[type="text"] {
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

#search input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#search input[type="submit"]:hover {
  background-color: #3e8e41;
}