@charset "utf-8";

.h4{
	font-size:25px;
	margin:20px 0;
	font-weight:bold;
}

table {
  border: 0;
  border-top: 2px solid black;
}
th,td{
	border: 1px solid #e4e4e4;
}
 th > input, td > input{
  width: 862px;
  height: 50px;
  text-indent:10px;
}

td > textarea {
  width: 862px;
  height: 410px;
  text-indent:10px;
  line-height:40px;
  resize: none;
}

#contents{
	height:410px;
	vertical-align:top;
}

#submit {
  margin-top: 10px;
}

#submit input {
  width: 80px;
  height: 30px;
}

#submit input[type=file] {
  width: 300px;
}

#submit span:nth-child(2),
#submit span:nth-child(3) {
  float: right;
  margin: 0 5px;
}

#submit input[type=button], #submit input[type=reset]{
	width: 80px;
  	height: 30px;
  	border: 1px solid #a4a4a4;
  	border-radius: 10px;
  	font-size:14px;
  	cursor:pointer;
}

a:link, a:visited {
	  text-decoration: none;
	  color: black;
	}