@charset "utf-8";



#main_wrap{
	position:relative;
	color:#000;
	width:1920px;
	height:980px;
}
	#main_wrap::before{
		content:"";
		width:1920px;
		height:980px;
		background-image:url("../images/main3.jpg");
		background-repeat: no-repeat;
   		background-position: center;
   		background-size:cover;
   		opacity: 0.3;
   		position:absolute;
	    top: 0px;
   		left: 0px;
   		right: 0px;
   		bottom: 0px
}
header,nav,main{
	position:relative;
}	
header{
	width:1920px;
	height:130px;
	margin-bottom:200px;
	border-bottom:1px solid #444;
}
	#logo_menu{
		width:500px;
		height:55px;
		display:inline-block;
		margin:40px;
		margin-right:250px;
		}
	#logo_menu h1{
		width:180px;
		height:34px;
		display:inline-block;
		font-size:45px;
		font-weight:bold;
	}
	#logo_menu span{
		display:inline-block;
		font-size:35px;
		margin-left:15px;
		padding-left:10px;
		border-left:1px solid #444;
	}
	nav{
		display:inline-block;
		font-size:21px;
		font-weight:bold;
		
	}
	nav ul li{
		display:inline-block;
		margin:0 30px;
		font-size:25px;
		
	}
	
	nav ul li:hover{
		color:#f00;
		cursor:pointer;
	}	
main{
	width:1900px;
	height:100%;
}	
	section h2, section span, #contents{
		width:100%;
		font-size:45px;
		font-weight:bold;
		text-align:center;
		padding-bottom:50px;
	}
		#contents span{
			font-size:25px;
			font-weight:normal;
		}
		#btn{
			background:#c4040c;
			width:390px;
			height:75px;
			border-radius:5px;
			font-size:20px;
			color:#fff;
			font-weight:bold;
			border:0;
			cursor:pointer;
		}
a{
	cursor:pointer;
}
