@charset "utf-8";

#search_inner_wrap{
	height:200px;
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
	align-items: center; 
}
#searchVal{
	width:100%;
}
#searchVal div{
	margin:20px 0;
}
#searchVal div span{
	display:inline-block;
	margin-left:10px;
	margin-right:40px;
}
#searchVal div span:nth-child(2){
	width:100px;
	font-weight:bold;
}
#searchVal div span:last-child{
	font-size:13px;
}