@charset "utf-8";

#search_wrap{
	margin:0 auto;
	width:600px;
	height:800px;
}

#search_contents{
	width:600px;
	height:100px;
}
	#search_contents h2{
		width:100%;
		font-size:25px;
		margin-bottom:20px;
		border-bottom:1px solid #444;
		font-weight:bold;
	}
	#search_contents span{
		width:100%;
		font-size:15px;
	}
#search_inner_wrap{
	width:600px;
	height:600px;
	background:#fff;
	border:1px solid #444;
	border-radius:5px;
}

#searchBtn{
	width:100%;
	text-align:center;
	margin-top:50px;
}
#searchBtn input{
	width:150px;
	height:40px;
	font-size:16px;
	border:0;
	border-radius:5px;
	margin:0 15px;
	cursor:pointer;
	font-weight:bold;
	background:#fff;
	cursor:pointer;
}
#searchBtn input[value="로그인하기"]{
	background:#3498db;
	color:#fff;
}


