@charset "utf-8";

#reserv_wrap{
	height:1050px;
}

#memberInfo_wrap{
	margin-left:25px;
	margin-bottom:100px;
}

#memberInfo{
	width:950px;
	height:400px;
	background:#e4e4e4;
	padding-top:30px;
}

#memberInfo_table{
	margin-left:80px;
	width:600px;
	font-size:17px;
}

#memberInfo_table td{
	width:130px;
	height:50px;
	line-height:50px;
}

#memberInfo_table td:first-child{
	width:160px;
	font-weight:bold;
}
#memberInfo_table td:nth-child(2){
	width:300px;
}
#memberInfo_table td:nth-child(3){
	width:400px;
}
.msg{
	width:500px;
	font-size:15px;
	color:red;
}

#memberInfo_table input{
	width:95%;
	height:30px;
	border:1px solid #e4e4e4;
}

#payBtn input:nth-child(1), #payBtn input:nth-child(2){
	background:#3498db;
}